
<h3>Sign Up Here</h3>
<hr>
<br>
<form >
<label>First Name:</label>
<input type="text" name="fName">
<br><br>
<label>Last Name:</label>
<input type="text" name="lName">
<br><br>
<label>Email ID:</label>
<input type="text" name="email">
<br><br>
<label>Contact Number:</label>
<input type="number" name="contactNum">
<br><br>
<label>Password:</label>
<input type="password" name="pwd">
<br><br>
<label>Address:</label>
<input type="text" name="address">
<br><br>
<label>City:</label>
<input type="text" name="city">
<br><br>
<label>State:</label>
<input type="text" name="state">
<br><br>
<label>Zip Code:</label>
<input type="number" name="zipcode">
<br><br>
<div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="signedUp()">Sign Up</button>
</div>
</form>
